<header>
  <div class="left">
    <button (click)="generate()">New game</button>
  </div>

  <div class="center">
    <h1>ngSudoku</h1>
  </div>

  <div class="right"></div>
</header>

<main>
  <su-sudoku #sudokuComp [sudoku]="sudoku" [noteMode]="noteMode"></su-sudoku>
  <h3 class="timer">{{ timer$ | async | formatTime }}</h3>

  <div class="options">
    <button (click)="sudokuComp.erase()">
      <fa-icon [icon]="eraserIcon"></fa-icon>
      Erase
    </button>
    <button (click)="noteMode = !noteMode" [class.active]="noteMode">
      <fa-icon [icon]="pencilIcon"></fa-icon>
      Notes
    </button>
  </div>

  <div class="controls">
    <button (click)="sudokuComp.insertNumber(1)">1</button>
    <button (click)="sudokuComp.insertNumber(2)">2</button>
    <button (click)="sudokuComp.insertNumber(3)">3</button>
    <button (click)="sudokuComp.insertNumber(4)">4</button>
    <button (click)="sudokuComp.insertNumber(5)">5</button>
    <button (click)="sudokuComp.insertNumber(6)">6</button>
    <button (click)="sudokuComp.insertNumber(7)">7</button>
    <button (click)="sudokuComp.insertNumber(8)">8</button>
    <button (click)="sudokuComp.insertNumber(9)">9</button>
  </div>
</main>

