<ng-container *ngFor="let row of sudoku; index as rowIndex">
  <div class="cell"
       *ngFor="let field of row; index as colIndex"
       [class.top]="rowIndex % 3 === 0"
       [class.bottom]="rowIndex % 3 === 2"
       [class.left]="colIndex % 3 === 0"
       [class.right]="colIndex % 3 === 2"
       [class.readonly]="field.readonly"
       [class.highlight-row]="rowIndex === currentRow"
       [class.highlight-col]="colIndex === currentCol"
       [class.highlight-same]="activeField?.value && activeField.value === field?.value"
       [class.active]="field === activeField"
       (click)="onFieldClick(field)">
    <div class="value">{{ field.value }}</div>
    <ng-container *ngIf="!field.value && field.notes?.length > 0">
      <div class="note note-{{ note }}" *ngFor="let note of field.notes">
        <div>{{ note }}</div>
      </div>
    </ng-container>
  </div>
</ng-container>

