<su-grid [sudoku]="sudoku" [(activeField)]="activeField"></su-grid>

<div class="options">
  <button mat-raised-button (click)="erase()">
    <mat-icon>clear</mat-icon>
    Erase
  </button>
  <button mat-raised-button (click)="noteMode = !noteMode" [color]="noteMode ? 'primary' : undefined">
    <mat-icon>note</mat-icon>
    Notes
  </button>
  <button mat-raised-button (click)="hint()">
    <mat-icon>help</mat-icon>
    Hint
  </button>
</div>

<div class="controls">
  <button mat-button (click)="insertNumber(1)">1</button>
  <button mat-button (click)="insertNumber(2)">2</button>
  <button mat-button (click)="insertNumber(3)">3</button>
  <button mat-button (click)="insertNumber(4)">4</button>
  <button mat-button (click)="insertNumber(5)">5</button>
  <button mat-button (click)="insertNumber(6)">6</button>
  <button mat-button (click)="insertNumber(7)">7</button>
  <button mat-button (click)="insertNumber(8)">8</button>
  <button mat-button (click)="insertNumber(9)">9</button>
</div>
