.options {
  display: flex;
  margin: 8px -8px;

  button {
    flex: 1;
    margin: 8px;

    &.active {
      background: #83c8ef;
    }
  }
}

.controls {
  display: flex;

  button {
    flex: 1;
    min-width: 0;
    text-align: center;
    font-size: x-large;
  }
}
